Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).


SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure. Set up a test system where the database acts like the production system but contains no data.

CREATE -> The CREATE PROCEDURE command is used to create a stored procedure. A stored procedure is a prepared SQL code that you can save, so the code can be reused over and over again.

DROP -> Drop command in SQL can be clubbed with other keywords to delete specific database entities. For example, the DROP TABLE command is used to delete a table, and the DROP COLUMN command is used to delete a column in a table.

ALTER -> Suppose we want to add a foreign key constraint to create a relationship between two tables; we can also do that with the help of the ALTER command in SQL. Here's an example to add a foreign key in the Salary table for the E_ID column that refers to the E_ID column of the Employees table.

TRUNCATE -> The TRUNCATE command is used to remove all of the rows from a table, regardless of whether or not any conditions are met and resets the table definition. It is a DDL(Data Definition Language) command. It is also a DDL(Data Definition Language) command. The table space is completely freed from the memory.

In [9]:
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
)

SyntaxError: invalid syntax (165320157.py, line 1)

In [ ]:
-- delete Shippings table
DROP TABLE Shippings;

In [ ]:
-- add phone column to Customers table
ALTER TABLE Customers
ADD phone varchar(10);

In [ ]:
- truncate a table
TRUNCATE TABLE Persons;

-- retrieve the number of rows in the table
SELECT COUNT(*) AS rows_after_table_truncate
FROM Persons;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases.

INSERT -> A normal insert statement may be implemented in two forms: INSERT INTO table_name VALUES (val1, val2, val3…).
An example is: INSERT INTO Employee VALUES (1, John, 23); INSERT INTO table_name (column1, column2) VALUES (val1, val2, val3…).

UPDATE -> The UPDATE statement in SQL is used to update the data of an existing table in the database. We can update single columns as well as multiple columns using the UPDATE statement as per our requirement.
Example - Update a textbook; update the files. To bring up to date; make conform to or aware of the most recent facts, methods, ideas, etc.

DELETE -> Delete command is a data manipulation command which is used to remove records from a table. All records may be removed in one go, or a set of records may be deleted based on a condition

Q4. What is DQL? Explain SELECT with an example.

Ans.We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.

Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins. The simplest example of a select statement where in a user wants to, retrieve all the records of a table, can be performed by using '*'.

Example - Given a table T, the query SELECT * FROM T will result in all the elements of all the rows of the table being shown. With the same table, the query SELECT C1 FROM T will result in the elements from the column C1 of all the rows of the table being shown.

Q5. Explain Primary Key and Foreign Key.

Ans. A primary key is used to ensure data in the specific column is unique. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [11]:
import mysql.connector.
#Create the connection object.
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google", database = "mydb")
#printing the connection object.
print(myconn)
#creating the cursor object.
cur = myconn.cursor()
print(cur)

SyntaxError: invalid syntax (671368711.py, line 1)

cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

The Execute method executes the query, SQL statement or procedure specified in the CommandText property of the Command object. The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be returned if it is not a row-returning query.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. SQL query execution order means optimizing our search results from the database or where the query clauses are evaluated according to the requirements.

Like how we plan something step by step and reach the final result, similarly, we use clauses in a particular order known as the SQL query execution order. Here is the table that shows the order in which the clauses are used.

1   FROM	
2	WHERE	
3	GROUP BY	
4	HAVING	
6	ORDER BY	
7	LIMIT